.Ingredient-container {
    font-family: "Jua", sans-serif;
    margin: 0 auto;
    width: 90%;
    height: 70vh;
    margin-top: 25px;
    display: flex;
    background-color: #f5f5f5; /* 배경색 조정 */
    justify-content: space-around;
    border-radius: 20px; /* 모서리 둥글게 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.refrigerator {
    width: 15%; /* 너비 조정 */
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B2D6FF; /* 배경색 조정 */
    border-radius: 30px;
    font-size: 2rem;
    transition: transform 0.3s; /* 호버 효과 추가 */
    cursor : pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* 그림자 설정 */
}
.ingredient-container{
    width: 65%; /* 너비 조정 */
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: #B2D6FF; /* 배경색 조정 */
    border-radius: 30px;
    font-size: 1.5rem;
    transition: transform 0.3s; /* 호버 효과 추가 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* 그림자 설정 */
}

.refrigerator:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
}

.refrigerator-top, .top-ingredient {
    width: 100%;
    height: 30%;
    display: flex;
    border: 3px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #7AB8FF; /* 상단 색상 조정 */
}
.refrigerator-bottom, .bottom-ingredient {
    width: 100%;
    height: 70%;
    display: flex;
    border: 3px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.refrigerator-top, .refrigerator-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-ingredient, .bottom-ingredient{
    display: flex;
    padding: 10px;
    flex-wrap: wrap; /* 요소가 다음 줄로 넘어가도록 설정 */
    gap: 5px;
    overflow: hidden; /* 넘치는 콘텐츠를 숨김 */
    position: relative; /* ... 표시를 위해 필요 */
}
.ingredient-detail{
    height: 40px;
    display: inline-block; /* 텍스트 길이에 맞게 크기 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    text-overflow: ellipsis; /* ... 표시 */
    padding: 5px 10px; /* 내부 여백 */
    background-color: #e0f7fa; /* 배경색 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 */
}
.dot{
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    background: white; /* 배경색으로 표시 */
    border-radius: 10px;
    padding: 0 5px; /* 여백 추가 */
}
.refdata-container {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 정렬 */
    gap: 20px; /* 컴포넌트 간의 간격 */
    justify-content: center; /* 가운데 정렬 */
    padding: 10px; /* 내부 여백 */
}

/*모달*/
.modal-overlay {
    position: fixed;
    font-family: "Jua", sans-serif;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.modal-content {
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 모달 그림자 추가 */
}


.modal-title {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size : 2.5rem;
}
.modal-title > div {
    width: 25%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B2D6FF;
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 10px; /* 패딩 추가 */
}



.modal-input-container{
    width: 95%;
    height: 70%;
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}
.modal-input {
    width: 30%;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    background-color: #B2D6FF;
    justify-content: flex-start; /* 위쪽 정렬 */
    margin: 10px;
    border-radius: 30px;
}

.modal-input:nth-child(even) {
    background-color: #FF7F7F; /* 짝수 번째 요소의 배경색 */
}
.input-title {
    width: 100%;
    height: auto; /* 높이를 자동으로 조정 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center;
    font-size: 20px;
    padding: 10px; /* 여백 추가 */
}
.input-div {
    width: 90%; /* 적당한 너비 설정 */
    height: 60%; /* 고정 높이 설정 */
    background-color: white; /* 흰색 배경 */
    border-radius: 10px; /* 모서리 둥글게 */
    display: flex;
    margin: 0 auto;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    padding: 5px; /* 내부 여백 추가 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}


.input-button-container{
    width: 10%;
    height: 10%;
    margin-bottom : 5px;
}
.input-button{
    width: 100%;
    height: 100%;
    background-color : #B2D6FF;
    border-radius: 20px;
}
